{% extends 'SgCalendarBundle::layout.html.twig' %}

{% block title %}{{ 'calendar.calendar.action.index.title'|trans({}, 'messages') }}{% endblock %}

{% block content %}

    <h2>{{ 'calendar.calendar.action.index.title'|trans({}, 'messages') }}</h2>

    <hr />

    {{ calendar_render(event_source_url, event_update_xhr_url) }}

{% endblock %}