{% block sg_calendar_content %}

    <div id="full_calendar"></div>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#full_calendar').fullCalendar({

                editable: true,
                firstDay: 1,
                dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
                dayNamesShort: ['So', 'Mo', 'Die', 'Mi', 'Do', 'Fr', 'Sa'],
                monthNames: ['Januar', 'Februar', 'M채rz', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
                monthNamesShort: ['Jan', 'Feb', 'M채r', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
                timeFormat: 'HH:mm',
                buttonText: {
                    today: 'Heute',
                    month: 'Monat',
                    week: 'Woche',
                    day: 'Tag'
                },

                eventSources: [{
                    url: "{{ eventSourceUrl }}",
                    color:'green',
                    textColor:'black'
                }],

                eventRender: function(event, element) {
                    element.find('.fc-event-title').html("<a href=" + event.show_url + ">" + event.title +"</a>" + "<a href=" + event.delete_url + "> <i style='margin-top: 2px;' class=' pull-right cus-delete'></i></a>");
                },

                eventResize: function(event, dayDelta, minuteDelta, revertFunc) {
                    alert("Das Ende des Termins f체r " + event.title + " wurde um " + dayDelta + " Tage verschoben.");
                    if (!confirm("Soll der neue Termin gespeichert werden?")) {
                        revertFunc();
                    } else {
                        var start_date = $.fullCalendar.formatDate(event.start, "yyyy-MM-dd");

                        if (event.end) {
                            var end_date = $.fullCalendar.formatDate(event.end, "yyyy-MM-dd");
                        } else {
                            var end_date = start_date;
                        }

                        $.ajax({
                            url: "",
                            type: "POST",
                            cache: false,
                            data: {
                                'id':       event.id,
                                'start':    start_date,
                                'end':      end_date
                            },
                            success: function(data) {
                                alert("Der Termin wurde erfolgreich gespeichert.");
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                console.log(XMLHttpRequest + ' ' + textStatus + ' ' +errorThrown);
                            }
                        })
                    }
                },

                eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc) {
                    alert("Der Termin f체r " + event.title + " wurde um "  + dayDelta + " Tage verschoben.");
                    if (!confirm("Soll der neue Termin gespeichert werden?")) {
                        revertFunc();
                    } else {
                        var start_date = $.fullCalendar.formatDate(event.start, "yyyy-MM-dd");

                        if (event.end) {
                            var end_date = $.fullCalendar.formatDate(event.end, "yyyy-MM-dd");
                        } else {
                            var end_date = start_date;
                        }

                        $.ajax({
                            url: "",
                            type: "POST",
                            cache: false,
                            data: {
                                'id':       event.id,
                                'start':    start_date,
                                'end':      end_date
                            },
                            success: function(data) {
                                alert("Der Termin wurde erfolgreich gespeichert.");
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                console.log(XMLHttpRequest + ' ' + textStatus + ' ' +errorThrown);
                            }
                        })
                    }
                }

            })

        });
    </script>

{% endblock %}