<div id="{{ datepicker_id }}"></div>

<script>
    $(document).ready(function () {

        $("#" + "{{ datepicker_id }}").datepicker(
            {
                dateFormat: 'yy-mm-dd',
                onSelect: function(dateText, dp) {
                    $("#" + "{{ fullcalendar_id }}").fullCalendar("gotoDate", new Date(Date.parse(dateText)));
                    $("#" + "{{ fullcalendar_id }}").fullCalendar("changeView", "agendaDay");
                }
            }
        );

    });
</script>

