{% extends 'SgCalendarBundle::layout.html.twig' %}

{% block title %}{{ 'sg.calendar.title.calendar'|trans({}, 'CalendarBundle') }}{% endblock %}

{% block content %}

    <h2>{{ 'sg.calendar.title.calendar'|trans({}, 'CalendarBundle') }}</h2>

    <hr />

    {{ calendar_render(event_source_url) }}

{% endblock %}