{% extends 'SgUserBundle::layout.html.twig' %}

{% block title %}Kalender{% endblock %}

{% block content %}

    <h2>Kalender</h2>

    <hr />

    {{ calendar_render(eventSourceUrl) }}

{% endblock %}