{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event creation</h1>

    <form action="{{ path('sg_calendar_event_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('sg_calendar_show') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
